@model smalandscamping.Models.Cottage

@{
    ViewData["Title"] = "Radera stuga";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Cottages" asp-action="Index">Hem</a> / Radera stuga</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-trash-alt cottageIcon"></i>
        <h1 class="title">Radera stuga</h1>

        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfGuest)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumberOfGuest)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AnimalsAllowed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnimalsAllowed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CottageId" />
            <input type="submit" value="Radera" class="authenticationBtn btn" />
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till stugorna</a>
        </form>
    </div>
    <div id="border-bottom"></div>
</div>
