@model smalandscamping.Models.Cottage

@{
    ViewData["Title"] = "Detaljer stuga";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Cottages" asp-action="Index">Hem</a> / Detaljer stuga</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-edit cottageIcon"></i>
        <h1 class="title">Detaljer stuga</h1>

        <!-- Detaljer om en stuga -->
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfGuest)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumberOfGuest)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AnimalsAllowed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AnimalsAllowed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.CottageId" class="linkBackEdit"><i class="fas fa-edit"></i> Ändra</a><br /> 
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till stugorna</a>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>
