@model smalandscamping.Models.Booking

@{
    ViewData["Title"] = "Detaljer bokning";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Bookings" asp-action="Index">Hem</a> / Detaljer bokning</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-edit cottageIcon"></i>
        <h1 class="title">Detaljer bokning</h1>

        <!-- Detaljer om en bokning -->
        <dl class="row">
            <dt>
                Stuga
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cottage.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cottage.NumberOfGuest)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cottage.NumberOfGuest)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cottage.AnimalsAllowed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cottage.AnimalsAllowed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateArrival)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateArrival)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateLeaving)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateLeaving)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalPrice) kr
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.BookingId" class="linkBackEdit"><i class="fas fa-edit"></i> Ändra</a><br />
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till stugorna</a>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>
